<%- include("partials/header") -%>

    <h1>Compose</h1>
    <form action="submit">
        <div class="container mt-5 mb-5">
            <textarea id="summernote">

        </textarea>
            <button type="submit" class="publish">publish</button>

        </div>
    </form>


    <%- include("partials/footer") -%>